Repository Kurama-tech/Inpet-api, pull requests merged in 2021-09, with the labels that each got.

#3 chore: added openshift deployment && CI
  .github/labeler.yml
  .github/workflows/CD.yml
  .github/workflows/CI.yml
  .github/workflows/automerge.yml
  .github/workflows/greetings.yml
  .github/workflows/labeler.yml
  Dockerfile
  k8s/template.yaml
  package-lock.json
  package.json
  processes.json
  routes/index.js
  test/test.js
Labels: lgtm

#2 mongo connected
  .gitignore
  app.js
  package-lock.json
  package.json
  routes/api.js
  schemas/users.js
Labels: lgtm, repo, route, source

#5 Delete automerge.yml
  .github/workflows/automerge.yml
Labels: lgtm, automerge
